{{ define "main" }}
<!-- page title area start -->
<section
  class="page__title p-relative pt-200 pb-200"
  data-background="/assets/img/page-title/page-title.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="page__title-inner text-center">
          <div class="page__title-breadcrumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  About us
                </li>
              </ol>
            </nav>
          </div>
          <h1>Welcome to Autizum</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page title area end -->

<!-- about area start -->
<section class="about__area-2 pt-120 pb-120 box-105 p-relative">
  <div class="container-fluid">
    <div class="about__inner about__inner-3 p-relative">
      <div
        class="about__bg-img p-absolute"
        data-background="/assets/img/about/about-2.jpg"
      ></div>
      <div class="row">
        <div class="col-xl-6 offset-xl-6">
          <div class="about__content-wrapper pt-20 pl-85">
            <div class="section__title mb-30">
              <div class="section__icon mb-10">
                <span class="section__sub-title section__sub-title-2"
                  >Welcome to Autizum</span
                >
              </div>
              <h1 class="mb-100">
                {{.Params.aboutArea.title}}
              </h1>
            </div>

            <p>
              {{.Params.aboutArea.description}}
            </p>

            <div class="about__info-2 d-sm-flex mb-60">
              <div class="about__info-experience white-bg mr-40">
                <h2>{{.Params.aboutArea.boxTitle}}</h2>
              </div>
              <p>
                {{.Params.aboutArea.boxDescription}}
              </p>
            </div>
            <div class="about-bottom d-sm-flex">
              <div class="about-btn mr-40 mb-30">
                <a
                  href="/about"
                  class="s-btn s-btn__square s-btn__square-2"
                  tabindex="0"
                  >more about us</a
                >
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-9">
            <div class="section__title mb-65 pt-10">
                <h2 class="mb-20">Mission</h2>
                <p>At Autizum, our mission is to empower children with autism by providing personalized, evidence-based Applied Behavior Analysis (ABA) therapy. We are committed to collaborating closely with families, caregivers, and educators to develop individualized treatment plans that help children build essential life skills, improve communication, and foster independence. Through compassion, expertise, and a family-centered approach, we aim to support each child in achieving meaningful, long-lasting progress.</p>
                <h2 class="mb-20">Vision</h2>
                <p>Our vision is to be a global leader in autism care and school consultancy, recognized for delivering exceptional ABA services that transform lives. We strive to create a world where every child with autism has the opportunity to reach their full potential in a nurturing, inclusive environment. By continuously innovating our practices and expanding our reach, we aim to set new standards for comprehensive care and advocacy in the autism community, ensuring that every child has the support they need to thrive. </p>
                <h2 class="mb-20"> Our Commitment to Families and Child Development</h2>
                <p>We enhance our evaluations and treatment plans by actively including recommendations and feedback from families, caregivers, and teachers. We prioritize supporting families during transitions and helping them achieve their children's developmental goals. Our clinicians coach parents on implementing carryover interventions alongside regular care plans. We provide coaching and training in child development for community members and childcare providers. By aligning a child's environment with their needs, we foster a supportive space for them to thrive. </p>
                <h2>How We Help Kids :</h2>
                <div class="why_list1 pt-20">
                            <ul>
                                <li>Social Skills  </li>
                                <li>Fine Motor Skills   </li>
                                <li>School Readiness</li>
                                <li>Emotional Development</li>
                                <li>Parent Education    </li>
                                <li>Self Care Skills</li>
                                <li>Language & Communication  </li>
                                <li>Problem Solving & Critical Thinking</li>
                                <li> Play Skills</li>
                                <li>Self-Regulation & Impulse Contro</li>
                                <li>Resilience & Coping Skills</li>
                                <li>Time Management </li>
                                <li> Organization Safety Awareness</li>
                                
                            </ul>
                        </div>
                
            </ul>    
            </div>
        </div>
    </div>
</div>
<!-- about area start -->


<!-- testimonial area start -->
<!-- {{ partial "testimonial" . }} -->
<!-- testimonial area end -->

<!-- counter area start -->
<!-- {{partial "counter" .}} -->
<!-- counter area end -->

<!-- services history area start -->
<section class="services__history pt-110 pb-55">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="section__title mb-70 pl-50 pr-50 text-center">
          <h1>From the Beginning Successfully Providing Best Service</h1>
          <div class="section__icon mb-10">
            <span
              class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4"
              >service history</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>2018</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >Behavioral Therapy Launch</a
              >
            </h3>
            <p>Introduced a comprehensive ABA therapy program tailored to individual needs of children with autism.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>2020</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >Multidisciplinary Evaluations Initiated</a
              >
            </h3>
            <p>Integrated cross-functional evaluations for students with ASD, focusing on behavior, academics, and social development.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>2021</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >Parent Training Programs Introduced</a
              >
            </h3>
            <p>Launched personalized parent coaching and training services to enhance home-based intervention success.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="services__history-item text-center text-sm-left mb-60 pr-35"
        >
          <div class="services__history-year mb-30">
            <h2>2023</h2>
          </div>
          <div class="services__history-content">
            <h3>
              <a href="about-us.html#"
                >Global Collaboration Expansion</a
              >
            </h3>
            <p>Established international partnerships, expanding our support network to multicultural and multilingual families.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services history area end -->

<!-- faq area start -->
{{ partial "faq" . }}
<!-- faq area end -->

{{ end }}
