{{ define "main" }}

<!-- slider area start -->
<div class="slider-area slider-area-3 slider-has-arrow p-relative pb-200">
  <div class="slider-active">
    <div
      class="single-slider slider-height-3 slider-overlay slider-overlay-3 p-relative d-flex align-items-center"
      data-background="{{.Params.slider1.image}}" loading="eager" alt="slider"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 offset-xl-2 p-0">
            <div class="slider-content slider-content-3 text-center">
              <span data-animation="fadeInUp" data-delay=".2s"
                >{{.Params.slider1.span}}</span
              >
              <h2 data-animation="fadeInUp" data-delay=".4s">
                {{.Params.slider1.text}}
              </h2>
              <div class="button-container">
                <a href="/contact" class="join-us-btn" aria-label="get started">Get Started</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="single-slider slider-height-3 slider-overlay slider-overlay-3 p-relative d-flex align-items-center"
      data-background="{{.Params.slider2.image}}" loading="eager" alt="slider"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 offset-xl-2 p-0">
            <div class="slider-content slider-content-3 text-center">
              <span data-animation="fadeInUp" data-delay=".2s"
                >{{.Params.slider2.span}}</span
              >
              <h2 data-animation="fadeInUp" data-delay=".4s">
                {{.Params.slider2.text}}
              </h2>

              <div class="button-container">
                <a href="/contact" class="join-us-btn" aria-label="get started">Get Started</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="single-slider slider-height-3 slider-overlay slider-overlay-3 p-relative d-flex align-items-center"
      data-background="{{.Params.slider3.image}}" loading="eager" alt="slider"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 offset-xl-2 p-0">
            <div class="slider-content slider-content-3 text-center">
              <span data-animation="fadeInUp" data-delay=".2s"
                >{{.Params.slider3.span}}</span
              >
              <h2 data-animation="fadeInUp" data-delay=".4s">
                {{.Params.slider3.text}}
              </h2>

              <div class="button-container">
                <a href="/contact" class="join-us-btn" aria-label="get started">Get Started</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider area end -->

<!-- features area start -->
<!-- features area end -->

<!-- about area start -->
<section class="about__area-3 mb-120 box-105 pt-380 p-relative white-bg">
  <div
    class="about__bg-img about__bg-img-3 p-absolute border-radius-8"
    data-background="{{.Params.imageCard.image}}" alt="service"
  >
    <div class="about__info-experience-3 p-absolute">
      <h2>{{.Params.imageCard.title}}</h2>
      <p>{{.Params.imageCard.description}}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 offset-xl-5 col-lg-6 offset-lg-6">
        <div class="about__content-wrapper about__content-wrapper-3 pr-35">
          <div class="section__title mb-30">
            <div class="section__icon mb-10">
              <span
                class="section__sub-title section__sub-title-2 section__sub-title-3"
                >{{.Params.welcomeSpan.span}}</span
              >
            </div>
            <h1 class="mb-100">
              {{.Params.welcomeHead.title}}
            </h1>
          </div>

          <p>
            {{.Params.welcomeHead.description}}
          </p>

          <!-- Adjusted Row Div -->
          <div class="row">
            <div class="col-lg-12">
              <div class="features__items d-flex flex-column align-items-stretch">
                <!-- Feature Card 1 -->
                <div
                  class="features__item d-flex white-bg transition-3 border-radius-8 box-shadow mb-30"
                 
                >
                  <div class="features__icon">
                    <span class="icon flaticon-happy"></span>
                  </div>
                  <div class="features__content">
                    <h2>{{.Params.card1.title}}</h2>
                    <p>
                      {{.Params.card1.description | markdownify}}
                    </p>
                  </div>
                </div>
                <!-- Feature Card 2 -->
                <div
                  class="features__item d-flex white-bg transition-3 border-radius-8 box-shadow mb-30"
                 
                >
                  <div class="features__icon">
                    <span class="icon flaticon-psychologist"></span>
                  </div>
                  <div class="features__content">
                    <h2>{{.Params.card2.title}}</h2>
                    <p>
                      {{.Params.card2.description | markdownify}}
                    </p>
                  </div>
                </div>
                <!-- Feature Card 3 -->
                <div
                  class="features__item d-flex white-bg transition-3 border-radius-8 box-shadow mb-30"
                  
                >
                  <div class="features__icon">
                    <span class="icon flaticon-24-hours-support-1"></span>
                  </div>
                  <div class="features__content">
                    <h2>{{.Params.card3.title}}</h2>
                    <p>
                      {{.Params.card3.description | markdownify}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Adjusted Row Div -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about area start -->
<section class="team__area pb-50 pt-10">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title mb-70 ">
          <h2>{{.Params.teamArea.title}}</h2>
          <div class="section__icon mb-10">
           
          
            <h3 class= 'text-center'>Autizum: A Clinician-Owned and Operated Haven for Autism Care</h3>
            <p class="pt-30">At Autizum, we are dedicated to providing compassionate, research-driven therapy for children with autism. As a clinician-owned and operated organization, we understand the importance of delivering high-quality, individualized care that makes a lasting impact.
</p><p>
        <a href="{{ ref . "clinical.md" }}" aria-label="our team">Our Team</a> of experienced <b>Board-Certified Behavior Analysts (BCBAs)</b> and <b>Registered Behavior Technicians (RBTs)</b> collaborates closely with families to design customized treatment plans that focus on enhancing <b>autism learning, <a href="{{ ref . "services/verbal-communication-skills-through-aba.md" }}" aria-label="verbal behavior">verbal behavior</a></b> social, communication, and <b>daily living skills</b>. We believe in empowering children to overcome challenges, build confidence, and develop the tools they need to thrive in their everyday lives.
            </p><p>
              Our clinician-owned and operated model allows us to have a deep understanding of the unique needs of children with autism and their families. We are able to provide personalized care that is tailored to <b> educational apps for autism,</b> and <b>autism tips for parents</b> to ensure well-rounded development.
            </p><p>
              We work closely with families, ensuring they are an integral part of the therapy process. Together, we establish goals and strategies that extend beyond therapy sessions, seamlessly integrating into daily routines and Include guidance on <b> how to calm an autistic child</b>, and <b>raising a child with autism</b> with structured support..
            </p><p>
              At Autizum, we are committed to providing <b>autism education resources</b> that focuses on <b>enhancing communication, social interaction, inclusive education for autism </b> and essential life skills. We understand how important it is for children with autism to build meaningful <b>connections, improve communication, develop independence,</b> and <b>strengthen relationships</b>.
            </p><p>
              Our mission is to support each child's growth and development through innovative and effective care. We are dedicated to empowering children with autism to reach their full potential and thrive in their personal and social environments.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- services area start -->
<section class="services__area-2 pt-30 pb-90">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
              <div class="section__title mb-70 text-center">
                  <h2>Professional ABA Therapy Service You Can Choose</h2>
                  <div class="section__icon mb-10">
                      <span class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4">We accept all major insurances and private pay </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        {{ partial "services" . }}
        </div>
      </div>
  </div>

</section>

<!-- services area end -->

<!-- services area start -->
<section class="services__area-2 pt-30 pb-90">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
              <div class="section__title mb-70 text-center">
                  <h2>Our Blogs</h2>
                  <div class="section__icon mb-10">
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        {{ partial "blogs" . }}
        </div>
      </div>
  </div>

</section>

<!-- services area end -->

<!-- team area start -->
<section class="team__area pb-50 pt-20">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="section__title mb-70 text-center">
          <h2>{{.Params.teamArea.title}}</h2>
          <div class="section__icon mb-10">
            <span
              class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4"
            >
             Our Team</span
            >
            <h3>Autizum</h3>
            <p class="pt-30">Autizum is an internationally recognized team of experienced autism therapy at home professionals, including BCBAs and RBTs, committed to helping children with autism reach their full potential.

              We integrate natural treatments for autism, supplements for autism, and research-driven approaches to enhance children's well-being. <a href="{{ ref . "services" }}" style="color: blue;" aria-label="our services">Our Services</a> also address autism environmental factors and provide autism treatment centers that cater to specific needs.
              
              By choosing Autizum, you're partnering with experts in behavioral observation of students in schools, early signs of autism in toddlers, and signs of autism in boys and girls. We ensure that every child receives specialized interventions such as best therapies for autism, autism testing for adults Austim, and structured support in gateway behavior.
              
              Our goal is to foster long-term progress with autism events, autism forums, and online autism support groups. We believe in a holistic approach that includes autism apps for adults, autism learning tools, and the latest autism tips for families and educators.
              
              At Autizum, we go beyond therapy to create lasting change, equipping children with the skills to navigate their world successfully.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{partial "whyArea" .}}

<section
  class="contact-area contact__area-3 pt-120"
  data-background="assets/img/contact/contact-bg.jpg" alt="contact-bg"
>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-6 offset-xl-6">
        <div
          class="contact__wrapper contact__wrapper-3 green-bg-2 pr-105 pl-100 pt-95 pb-100"
        >
          <div class="section__title mb-45">
            <div class="section__icon mb-10">
              <h2
                
                >Share with us</h2
              >
            </div>
            <p class="white-color">Get started today! Please contact us at</p>
          </div>
          <div class="contact__form">
            <form
              contact-form
              action="https://formspree.io/f/xzzbzjaw"
              method="POST"
            >
              <div class="row">
                <div class="col-xl-6">
                  <input
                    name="name"
                    class="contact__input contact__input-3"
                    type="text"
                    placeholder="Your Name"
                    aria-label="name"

                  />
                </div>
                <div class="col-xl-6">
                  <input
                    name="email"
                    class="contact__input contact__input-3"
                    type="email"
                    placeholder="E-mail Address"
                    aria-label="mail"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <input
                    name="subject"
                    class="contact__input contact__input-3"
                    type="text"
                    placeholder="Phone Number"
                    aria-label="phone Number"
                  />
                </div>
                <div class="col-xl-6">
                  <select class="contact__input contact__input-3 contact__input-4" name="service">
                      <option value="Choose a service">Choose a service</option>
                      <option value="ABA therapy">ABA therapy</option>
                      <option value="Autizum for 504 & Parental Rights">Autizum for 504 & Parental Rights</option>
                      <option value="Parent Counselling">Parent Counselling</option>
                      <option value="Special Education">Special Education</option>
                      <option value="Speech Development / Verbal Behavior Development">Speech Development / <br> Verbal Behavior Development</option>
                      <option value="Others">Others</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <textarea
                    name="message"
                    class="contact__input contact__input-3 txt-area"
                    cols="30"
                    rows="10"
                    placeholder="Write Message"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <button
                    class="s-btn s-btn__square s-btn__square-white"
                    type="submit" aria-label="Submit message"
                  >
                    submit message
                  </button>
                </div>
              </div>
            </form>
            <p class="ajax-responsive"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact area end -->

{{ end }}
