{{ define "main" }}
<main>
  <!-- Page title area start -->
  <section
    class="page__title p-relative pt-200 pb-200"
    data-background="/assets/img/page-title/page-title-2.jpg" alt="page image"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="page__title-inner text-center">
            <div class="page__title-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/" aria-label="home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    About Dr. Hank D. Schlinger Jr.
                  </li>
                </ol>
              </nav>
              <h1>Dr. Hank D. Schlinger Jr.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page title area end -->

  <!-- Profile area start -->
  <section class="profile__area pt-120 p-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5">
          <div class="profile__person">
            <img src="{{.Params.henryArea.image}}" alt="Dr. Henry D. Schlinger Jr." />
          </div>
        </div>
        <div class="col-xl-7 col-lg-7">
          <div
            class="sychologist__content sychologist__content-2 p-relative"
          >
            <h1>{{.Params.henryArea.name}}</h1>
            <h3 class="h31">{{.Params.henryArea.occupation}}</h3>
            <h3 class="h31">{{.Params.henryArea.title}}</h3>
            <p class="pt-20">{{.Params.henryArea.aboutYou}}</p>
            <p>{{.Params.henryArea.aboutYou1}}</p>
            <p>{{.Params.henryArea.aboutYou2}}</p>
            <p>{{.Params.henryArea.aboutYou3}}</p>
        <p>
            Visit my website: 
            <a href="http://www.buildgoodbehavior.com" target="_blank" style="color: #532c96;">www.buildgoodbehavior.com</a>
        </p>

        <h2>Books</h2>
        <ul>
            <li>
               1. How To Build Good Behavior and Self-Esteem in Children -
                 <a href="https://www.amazon.com/dp/B09FFRG2WY" target="_blank" style="color: #532c96;">View on Amazaon</a>
            </li>
            <li>
               2. A Behavior Analytic View of Child Development- 
                <a href="https://www.amazon.com/dp/B000OSA5WQ" target="_blank" style="color: #532c96;">View on Amazon</a>
            </li>
            <li>
              3. B. F. Skinner and the Revolutionary Science of Behavior- 
               <a href="https://www.amazon.com/B-Skinner-Revolutionary-Science-Behavior/dp/B09WCBT195/ref=sr_1_fkmr1_1?crid=1C1CDWQOT2OZ8&dib=eyJ2IjoiMSJ9.lplmFh5w6bUaCVqvn8EjnCKpOzh0Os5YYY7DquOP9R0n1w6cqzyWTv211iwsoFh_jwHcZliuL8NPFGDwEvdqag.xwEDQtcO4Vl46xqUpOaEmUTh4AMGBH6kQ00HAUgKrXs&dib_tag=se&keywords=B.k+skinner+revolutionary&qid=1742018267&sprefix=b.k+skinner+revolutionary%2Caps%2C317&sr=8-1-fkmr1" target="_blank" style="color: #532c96;">View on Amazon</a>
           </li>
            <li>
               4. Introduction to Scientific Psychology(Coauthor) -  
                <a href="https://link.springer.com/book/10.1007/978-1-4899-1893-2" target="_blank" style="color: #532c96;">View on Springer</a>
            </li>
        </ul>

        <!-- <h2>Follow Me</h2>
        <div class="social-links">
            <p>Instagram: <a href="#" target="_blank">Follow on Instagram</a></p>
        </div> -->

        <h2>Music</h2>
        <div class="music-links">
            <p>Listen to my album, One More Invention on -
                <a href="https://open.spotify.com/artist/5Xd6VNhSQbFeN9wOEWtWn5/discography/" target="_blank" style="color: #532c96;">Spotify</a>.
            </p>
            <p>If you’re interested in buying a signed CD, please email me for more information.</p>
        </div>

        <h2>Recommended Book for Kids</h2>
        <p>Check out this book on <a href="https://www.amazon.com" target="_blank" style="color: #532c96;">Amazon.com</a></p>
            <style>
              a.internal-link {
                color: #532c96;
                text-decoration: none;
              }
            </style>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <div class="contact__btn">
            <a href="https://cal.com/florina-david-colar/15min" target="_blank" class="s-btn s-btn__square-2" aria-label="book an appointment">Book an Appointment</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Profile area end -->
</main>
{{ end }}
